<div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section">
            <div class="card-body">     
                <div class="row mb-4">
                    <div class="col-lg-4 col-sm-6">
                        
                            <h2>Meeting {{meeting.title}} </h2>
                            <form method="post" class="post-form">
                                {{ expert_form.as_p }}
                                {% csrf_token %}
                                <p><input type="submit" value="Ajouter l'expert"></p>
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>
</div>