<div class="col-12">
	<table class="table align-items-center table-flush">
		<thead class="thead-light">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Titre</th>
				<th scope="col">Date</th>
				<th scope="col">Etat</th>
			</tr>
		</thead>
		<tbody>
			{% for meeting in meetings %}
			<tr>
				<td scope="row"> {{meeting.id}} </a> </td>
				<td scope="row"> <a href=" {% url 'during_meeting' meeting_id=meeting.id %}"> {{meeting.title}} </a> </td>
				<td>
					{{meeting.date|date}}
				</td>
				<td> {{meeting.status}} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
