
<div class="col-12">
	<div class="mb-3 mt-5 d-flex">
		<button class="btn btn-dark " style="margin-left: auto" type="button">Ajouter PV <span class="fas fa-plus ms-2"></span></button>
	</div>
	<table class="table align-items-center table-flush">
		<thead class="thead-light">
			<tr>
				<th scope="col">id</th>
				<th scope="col">Titre</th>
				<th scope="col">Status</th>
				<th scope="col">Validé par</th>
				<th scope="col">Date réunion</th>
			</tr>
		</thead>
		<tbody>
			{% for pv in pvs %}
			<tr>
				<td scope="row"> {{pv.id}} </a> </td>
				<td scope="row"> <a href=" {% url 'pv_detail' pv_id=pv.id%}"> {{pv.title}} </a> </td>
				<td> {{pv.status}} </td>
				<td> {{pv.validated_by}} </td>
				<td>
					{{pv.date|date}}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
