{% load static %}
<!-- Core -->
<script src="{% static '@popperjs/core/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js'%}"></script>

<!-- Vendor JS -->
<script src="{% static 'onscreen/dist/on-screen.umd.min.js' %}"></script>

<!-- Slider -->
<script src=" {% static 'nouislider/dist/nouislider.min.js' %}"></script>

<!-- Smooth scroll -->
<script src="{% static 'smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>

<!-- Charts -->
<script src="{% static 'chartist/dist/chartist.min.js' %}"></script>
<script src="{% static 'chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script>

<!-- Datepicker -->
<script src="{% static 'vanillajs-datepicker/dist/js/datepicker.min.js' %} "></script>

<!-- Sweet Alerts 2 -->
<script src="{% static 'sweetalert2/dist/sweetalert2.all.min.js' %} "></script>

<!-- Vanilla JS Datepicker -->
<script src="{% static 'vanillajs-datepicker/dist/js/datepicker.min.js' %} "></script>

<!-- Notyf -->
<script src="{% static 'notyf/notyf.min.js' %}"></script>

<!-- Simplebar -->
<script src="{% static 'simplebar/dist/simplebar.min.js' %} "></script>

<!-- Github buttons -->
<script  src="{% static 'github-buttons/dist/buttons.js' %}"></script>

<!-- Volt JS -->
<script src="{% static 'assets/js/volt.js' %} "></script>
