{% extends "layouts/base.html" %} {% block title %} Dashboard {% endblock %}
{% block content %}

<div
	class="
		d-flex
		justify-content-between
		flex-wrap flex-md-nowrap
		align-items-center
		py-4
	"
>
	<div class="btn-toolbar dropdown">
		<button
			class="btn btn-dark btn-sm me-2 dropdown-toggle"
			data-bs-toggle="dropdown"
			aria-haspopup="true"
			aria-expanded="false"
		>
			<span class="fas fa-plus me-2"></span>New Task
		</button>
		<span>Vue d'ensemble</span>
		<div
			class="
				dropdown-menu
				dashboard-dropdown
				dropdown-menu-start
				mt-2
				py-0
			"
		>
			<a class="dropdown-item fw-normal rounded-top" href="#"
				><span class="fas fa-tasks"></span>New Task</a
			>
			<a class="dropdown-item fw-normal" href="#"
				><span class="fas fa-cloud-upload-alt"></span>Upload Files</a
			>
			<a class="dropdown-item fw-normal" href="#"
				><span class="fas fa-user-shield"></span>Preview Security</a
			>
			<div role="separator" class="dropdown-divider my-0"></div>
			<a class="dropdown-item fw-normal rounded-bottom" href="#"
				><span class="fas fa-rocket text-danger"></span>Upgrade to
				Pro</a
			>
		</div>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-sm btn-outline-primary"
			>Share</button
		>
		<button type="button" class="btn btn-sm btn-outline-primary"
			>Export</button
		>
	</div>
</div>
<div class="row justify-content-md-center">
	<div class="col-12 col-sm-6 col-xl-4 mb-4">
		<div class="card border-light shadow-sm">
			<div class="card-body">
				<div class="row d-block d-xl-flex align-items-center">
					<div
						class="
							col-12 col-xl-5
							text-xl-center
							mb-3 mb-xl-0
							d-flex
							align-items-center
							justify-content-xl-center
						"
					>
						<div
							class="
								icon icon-shape icon-md icon-shape-primary
								rounded
								me-4 me-sm-0
							"
							><span class="fas fa-chart-line"></span
						></div>
						<div class="d-sm-none">
							<h2 class="h5"></h2>
							<h3 class="mb-1">{{nb_folders}}}</h3>
						</div>
					</div>
					<div class="col-12 col-xl-7 px-xl-0">
						<div class="d-none d-sm-block">
							<h2 class="h5">Nombre de dossiers à traiter</h2>
							<h3 class="mb-1">{{nb_folders}}</h3>
						</div>
						<div class="small mt-2">
							<span class="fas fa-angle-up text-success"></span>
							<span class="text-success fw-bold">18.2%</span>
							depuis le dérnier mois 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-xl-4 mb-4">
		<div class="card border-light shadow-sm">
			<div class="card-body">
				<div class="row d-block d-xl-flex align-items-center">
					<div
						class="
							col-12 col-xl-5
							text-xl-center
							mb-3 mb-xl-0
							d-flex
							align-items-center
							justify-content-xl-center
						"
					>
						<div
							class="
								icon icon-shape icon-md icon-shape-secondary
								rounded
								me-4
							"
							><span class="fas fa-cash-register"></span
						></div>
						<div class="d-sm-none">
							<h2 class="h5">Revenue</h2>
							<h3 class="mb-1">$43,594</h3>
						</div>
					</div>
					<div class="col-12 col-xl-7 px-xl-0">
						<div class="d-none d-sm-block">
							<h2 class="h5">Programmée pour les prochains réunions</h2>
							<h3 class="mb-1">{{to_be_treated}}</h3>
						</div>
						<div class="small mt-2">
							<span class="fas fa-angle-up text-success"></span>
							<span class="text-success fw-bold">28.2%</span>
							par rapport au dernier mois
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-12 col-sm-6 col-xl-4 mb-4">
		<div class="card border-light shadow-sm">
			<div class="card-body">
				<div class="row d-block d-xl-flex align-items-center">
					<div
						class="
							col-12 col-xl-5
							text-xl-center
							mb-3 mb-xl-0
							d-flex
							align-items-center
							justify-content-xl-center
						"
					>
						<div
							class="
								ct-chart-traffic-share
								ct-golden-section
								ct-series-a
							"
						></div>
					</div>
					<div class="col-12 col-xl-7 px-xl-0">
						<h2 class="h5 mb-3">Répartition des dossiers</h2>
						<h6 class="fw-normal text-gray"
							><span class="icon w-20 icon-xs icon-secondary me-1"
								><span class="fas fa-desktop"></span
							></span>
							Soutenances <a href="#" class="h6">60%</a></h6
						>
						<h6 class="fw-normal text-gray"
							><span class="icon w-20 icon-xs icon-primary me-1"
								><span class="fas fa-mobile-alt"></span
							></span>
							Stages <a href="#" class="h6">30%</a></h6
						>
						<h6 class="fw-normal text-gray"
							><span class="icon w-20 icon-xs icon-tertiary me-1"
								><span class="fas fa-tablet-alt"></span
							></span>
							Formation doctoral <a href="#" class="h6">10%</a></h6
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="container"> {% include "includes/dossier_list.html" %} </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
